version: 2.1

parameters:
  image-name:
    type: string
    default: "Not a real image name"

jobs:
  print-image-name:
    docker: 
      - image: cimg/base:2021.11
    steps:
      - checkout
      - run:
          name: Echo Image name
          command: echo << pipeline.parameters.image-name >>

workflows:
  run-workflow:
    jobs:
      - print-image-name
